PORT=4000

# database/ e backend/ sao pastas irmas dentro de PROJETO-ECOMERCE,
# db.js esta na raiz de backend/, por isso o caminho sobe so 1 nivel
DB_PATH=../database/choco-world.sqlite

JWT_SECRET=2df9a7b32ee4275e6981afb4ad473bbe69dfd52285a9766eba2986a4429559c3
JWT_EXPIRES_IN=8h